body {
  max-width: 1200px;
  margin: auto;
  background-color: $color_secondary_light;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $margin_medium;
  background-color: $color_white;
  color: $color_tertiary;
  font-family: 'Roboto', sans-serif;
  font-size: $font_standard;
  @include mobile {
    font-size: $font_small;
  }

  h1 {
    font-size: $font_large;
    font-weight: 800;
    @include mobile {
      font-size: $font_medium;
      
    }
  }

  h2{
    font-size: $font_medium;
    font-weight: 600;
    @include tablette {
      font-size: $font_standard;
    }
    @include mobile {
      font-size: $font_standard;
    }
  }

  h3 {
    font-size: $font_medium;
    @include mobile {
      font-size: $font_standard;
    }
  }
}

.icon {
  color: $color_primary;
  font-size: $icon_medium;
  cursor: pointer;
  margin: $margin_small;
  @include tablette {
    font-size: $icon_small;
  }
  @include mobile {
    font-size: $icon_small;
  } 
}

.separation {
  &_vertical {
    background-color: $color_secondary_light;
    height: 120px;
    width: 3px;
  }

  &_horizontal {
    background-color: $color_secondary_light;
    width: 80%;
    height: 3px;
    margin: $margin_medium 0;
    @include mobile {
      opacity: 0;
      width: 0;
    }
  }
}

.marginiconleft { 
  margin-left: $margin_medium;
}