.homecontainer {
  display: flex;
  justify-content: center;
  margin-top: $margin_xlarge;
  width: 90%;
  @include mobile {
    flex-direction: column;
  }

  &_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-right: 2px solid $color_primary;

    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      border: none;
    }

    h2 {
      border-bottom: 2px solid $color_primary;
      font-size: $font_medium;
      @include mobile {
        min-width: 100%;
      }
    }

    img {
      width: 70%;
      object-fit: cover;
      @include mobile {
        width: 25%;
      }
    }

    p {
      margin: $margin_small;
      text-align: center;
      @include mobile {
        width: 50%;
      }
    }
  }

  &_navbarprofile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    font-size: $icon_medium;
    margin-top: $margin_small;
    @include mobile {
      flex-direction: column;
      width: 20%;
    }

    a {
      text-decoration: none;
    }

    &--btn {
      color: $color_primary;
    }
  }

  &_navbarmessage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: $icon_medium;
    @include mobile {
      flex-direction: row;
    }

    &--btn {
      position: relative;
    }

    &--input {
      width: $icon_medium;
      height: $icon_large;
      position: absolute;
      transform: translate(5px, -30px);
      cursor: pointer;
      opacity: 0;
    }
  }

  &_newmessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    @include mobile {
      width: 100%;
    }

    h2 {
      align-self: flex-start;
      margin-left: $margin_large;
    }

    &--text {
      width: 90%;
      min-height: 50px;
      border: 1px solid $color_primary;
      border-bottom: none;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      resize: none;
      padding: $margin_small;

      &:focus {
        border: none;
      }
    }

    &--picture {
      width: 90%;
      min-height: 202px;
      border: 1px solid $color_primary;
      border-top: none;
      text-align: center;
      box-sizing: border-box;

      img {
        max-height: 190px;
        object-fit: cover;
      }
    }
  }

  &_error {
    color: red;
    font-size: $font_medium;
    margin-top: $margin_medium;
  }
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.insertpicture {
  width: $icon_large;
  height: $icon_large;
  position: relative;
}
