/* Couleurs */
/* Margin - Padding */
/* Font size */
/* Icon size */
/* Border Radius */
body {
  max-width: 1200px;
  margin: auto;
  background-color: #fff1f1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  color: #4E5166;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
#root h1 {
  font-size: 20px;
  font-weight: 800;
}
#root h2 {
  font-size: 17px;
  font-weight: 600;
}

.icon {
  color: #FD2D01;
  font-size: 20px;
  cursor: pointer;
}

.separation_vertical {
  background-color: #FFD7D7;
  height: 120px;
  width: 3px;
}
.separation_horizontal {
  background-color: #FFD7D7;
  width: 80%;
  height: 3px;
  margin: 10px 0;
}

.marginiconleft {
  margin-left: 10px;
}

.spinloader {
  cursor: progress;
  /*position: absolute;
  width: 100%;
  height: 100%;*/
}
.spinloader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  opacity: 1;
}
.spinloader::after {
  box-sizing: border-box;
  z-index: 10002;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid #c2baba;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: custom-loading 1s linear infinite;
          animation: custom-loading 1s linear infinite;
}

@-webkit-keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #FD2D01;
}
.header_logo {
  width: 25%;
}
.header_logo img {
  max-width: 90%;
}
.header_title {
  width: 75%;
  text-align: center;
}

.login {
  margin-top: 30px;
  width: 80%;
  min-height: 280px;
  display: flex;
  justify-content: center;
  border: 1 px solid #FD2D01;
}
.login_setup {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_setup--btn {
  padding: 10px;
  background-color: #fe8066;
  color: white;
  margin: 20px;
  min-width: 120px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.login_setup--btn:hover {
  background-color: #FD2D01;
}
.login_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_form label {
  font-size: 17px;
}
.login_form--input {
  padding: 5px;
  min-width: 180px;
  margin: 10px;
}
.login_form--submit {
  padding: 10px;
  background-color: #fe8066;
  color: white;
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
  min-width: 120px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.login_form--submit:hover {
  background-color: #FD2D01;
}
.login_error {
  color: red;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid red;
  padding: 5px;
}

.select {
  background-color: #FD2D01;
}

.homecontainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 90%;
}
.homecontainer_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border-right: 2px solid #FD2D01;
}
.homecontainer_profile h2 {
  border-bottom: 2px solid #FD2D01;
}
.homecontainer_profile img {
  width: 70%;
}
.homecontainer_profile p {
  margin: 5px;
}
.homecontainer_navbarprofile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  font-size: 20px;
  margin-top: 5px;
}
.homecontainer_navbarprofile a {
  text-decoration: none;
}
.homecontainer_navbarprofile--btn {
  color: #FD2D01;
}
.homecontainer_navbarmessage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}
.homecontainer_navbarmessage--btn {
  margin: 20px 10px;
  color: #FD2D01;
}
.homecontainer_navbarmessage--input {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translate(9px, -60px);
  opacity: 0;
  cursor: pointer;
}
.homecontainer_newmessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.homecontainer_newmessage h2 {
  align-self: flex-start;
  margin-left: 20px;
}
.homecontainer_newmessage--text {
  width: 90%;
  min-height: 50px;
  border: 1px solid #FD2D01;
  border-bottom: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  resize: none;
  padding: 5px;
}
.homecontainer_newmessage--text:focus {
  border: none;
}
.homecontainer_newmessage--picture {
  width: 90%;
  min-height: 202px;
  border: 1px solid #FD2D01;
  border-top: none;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.postcontainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px 0;
  border-top: 2px solid #FD2D01;
}
.postcontainer h2 {
  margin-left: 20px;
}

.postcard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 140px;
  box-sizing: border-box;
  border: 2px solid #FD2D01;
  border-radius: 10px;
  margin: 10px;
}
.postcard_author {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postcard_author img {
  width: 30%;
  border: 1px solid #FD2D01;
  border-radius: 50%;
  margin-top: 10px;
}
.postcard_message {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postcard_message--text {
  align-self: baseline;
  margin-left: 10px;
  padding: 5px;
}
.postcard_message--edittext {
  align-self: baseline;
  margin-left: 10px;
  padding: 5px;
  border: none;
  width: 90%;
  resize: none;
  font-family: "Roboto", sans-serif;
  color: #FD2D01;
  background-color: #fff1f1;
}
.postcard_message--picture {
  position: relative;
}
.postcard_message--picture img {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px;
}
.postcard_message--navbar {
  margin: 10px;
  text-align: center;
  width: 5%;
}
.postcard_message--navbar i {
  margin: 5px 0;
}
.postcard_information {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2;
}

.profilecontainer {
  width: 80%;
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  justify-content: space-between;
  margin: 30px 0;
}

.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 55%;
  box-sizing: border-box;
  border: 2px solid #FD2D01;
  border-radius: 10px;
}
.profile h2 {
  width: 100%;
  margin-left: 10px;
}
.profile_info {
  min-width: 60%;
  margin-left: 10px;
  line-height: 1.5;
}
.profile_picture {
  min-width: 40%;
  height: 130px;
  text-align: center;
}
.profile_picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60%;
}
.profile_story {
  min-width: 60%;
  height: 90px;
  border: none;
  resize: none;
  box-sizing: border-box;
}
.profile_story:focus {
  border: 1px solid #FD2D01;
}
.profile_navbar {
  min-width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  color: #FD2D01;
}
.profile_navbar--input {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translate(-24px, 0px);
  opacity: 0;
  cursor: pointer;
}
.profile_valid {
  padding: 10px;
  border-radius: 5px;
  background-color: #fe8066;
  color: white;
  margin: 5px 0;
  cursor: pointer;
}
.profile_valid:hover {
  background-color: #FD2D01;
}
.profile_row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile_follow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
.profile_follow--list {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_follow--box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border: 1px solid #FD2D01;
  border-radius: 10px;
  margin: 10px;
}
.profile_suggest {
  width: 35%;
  border: 2px solid #FD2D01;
  border-radius: 10px;
  padding: 0 20px;
}
.profile_suggest--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_suggest--box {
  display: flex;
  align-items: center;
  border: 1px solid #FD2D01;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.logout {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.logout_goodbye {
  border-bottom: 2px solid #FD2D01;
  font-size: 20px;
  margin-bottom: 20px;
}
.logout_btn {
  background-color: #FD2D01;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */